<div class="container margin-top-100">
    <div class="row">
        <div class="col-md-12 col-sm-12 mb-4">
            <h1 class="mb-5 text-left">About Us</h1>
            <div class="row">
                <div class="col-12">
                    <P>LTI Home Loan is a housing finance company set up in 2010. 
                        HomeFirst aims to serve the home loan needs for everyone - including the low- and middle-income customers. 
                        HomeFirst primarily deals in Home Loan from ₹10 Lakhs to ₹50 Lakhs with minimum documentation, no income proof and doorstep services.
                        HomeFirst provides Home Loan deal to customers who are purchasing their first homes and have limited access to regular banking channels.
                        <div class="text-center">
                            <img class="lti-about mb-3" src="assets/lti_about_2.png" alt="LTI_image">
                        </div>
                        <div class="text-center">
                           
                            <h2>55,000+</h2>
                            HOUSING LOANS APPROVED <br><br>
                            <h2>3,000+</h2>
                           CRORES GROSS LOAN ASSETS <br><br>
                           <h2>65</h2>
                            BRANCHES ACROSS INDIA <br>
                        </div>
                            
                </div>
                
            </div>
        </div>
    </div>
    
</div>