<div class="row mt-5">
    <div class="col-md-3 col-sm-12 mb-4 ">

    </div>
    <div class="col-md-6 col-sm-12 mt-5 box mb-4">
        <h1 class="mb-5 text-center">2. Address Details</h1>
        <form>
            <div class="row ">
                <div class="col-4 mb-3">
                    <label for="address">Address</label>
                </div>
                <div class="col-8 mb-3">
                    <input type="text" [(ngModel)]="address.address" class="form-control" name="address" id="address">
                </div>
                <div class="col-4 mb-3">
                    <label for="pincode">Pincode</label>
                </div>
                <div class="col-8 mb-3">
                    <input type="text" [(ngModel)]="address.pinCode"  class="form-control" name="pincode" id="pincode" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');" maxlength="6">
                </div>
                <div class="col-4 mb-3">
                    <label for="city">City</label>
                </div>
                <div class="col-8 mb-3">
                    <input type="text"  [(ngModel)]="address.city" class="form-control" name="city" id="city" oninput="this.value = this.value.replace(/[0-9.]/g,'')">
                </div>
                <div class="col-4 mb-3">
                    <label for="state">State</label>
                </div>
                <div class="col-8 mb-3">
                    <input type="text" [(ngModel)]="address.state" class="form-control" name="state" id="state" oninput="this.value = this.value.replace(/[0-9.]/g,'')">
                </div>
                
                <div class="col-12 mb-3 text-center">
                    <button class="btn btn-secondary mr-3" (click)="back()">Back</button>
                    <button class="btn btn-primary" (click)="clicked()">Next</button>
                </div>
            </div>
        </form>
    </div>
    <div class="col-md-3 col-sm-12 mb-4">

    </div>
</div>