<div class="container mt-5">
    <div class="row">
        <div class="col-md-5 col-sm-12 mt-5 box mb-4">
            <h1 class="mb-5 text-center">Eligibility Calculator</h1>
            <form>
                <div class="row">
                    <div class="col-6 mb-3">
                        <label for="monthly-income">Monthly Income</label>
                    </div>
                    <div class="col-6 mb-3">
                        <input type="number" class="form-control" [(ngModel)]="income" name="monthly-income" id="monthly-income">
                    </div>
                 
                    <div class="col-6 mb-3">
                        <label for="calculate">Calculate</label>
                    </div>
                    <div class="col-6 mb-3">
                        <button name="calculate" id="calculate" (click)="calculateEligible()" class="btn btn-primary mr-3">Calculate</button>
                        <button name="clear-eligible" id="clear-eligible" (click)="clearEligible()" class="btn btn-secondary">Clear</button>
                    </div>
                    <div class="col-6 mb-3">
                        <label for="eligibility">Eligibility</label>
                    </div>
                    <div class="col-6 mb-3">
                        <input type="text" class="form-control" [(ngModel)]="eligibleAmount" readonly name="eligibility" id="eligibility">
                    </div>
                </div>
            </form>
        </div>
        <div class="col-md-5 col-sm-12 mt-5 box mb-4">
            <h1 class="mb-5 text-center">EMI Calculator</h1>
            <form>
                <div class="row">
                    <div class="col-6 mb-3">
                        <label for="loan">Loan</label>
                    </div>
                    <div class="col-6 mb-3">
                        <input type="number" [(ngModel)]="loan" class="form-control" name="loan" id="loan">
                    </div>
                    <div class="col-6 mb-3">
                        <label for="tenure">Tenure</label>
                    </div>
                    <div class="col-6 mb-3">
                        <input type="number" [(ngModel)]="tenure" class="form-control" name="tenure" id="tenure">
                    </div>
                    <div class="col-6 mb-3">
                        <label for="emi-roi">ROI</label>
                    </div>
                    <div class="col-6 mb-3">
                        <input type="number" [(ngModel)]="roi" class="form-control" name="emi-roi" id="emi-roi">
                    </div>
                    <div class="col-6 mb-3">
                        <label for="emi-calculate">Calculate</label>
                    </div>
                    <div class="col-6 mb-3">
                        <button name="emi-calculate" (click)="calculate()" id="emi-calculate" class="btn btn-primary mr-3">Calculate</button>
                        <button name="clear" (click)="clear()" id="clear" class="btn btn-secondary">Clear</button>
                    </div>
                    <div class="col-6 mb-3">
                        <label for="emi">EMI</label>
                    </div>
                    <div class="col-6 mb-3">
                        <input type="number" readonly [(ngModel)]="emi" class="form-control" name="emi" id="emi">
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>