<div class="row mt-5">
    <div class="col-md-3 col-sm-12 mt-5 mb-4 ">

    </div>
    <div class="col-md-6 col-sm-12 mt-5 box mb-4">
        <h1 class="mb-5 text-center">New Password</h1>
        <form>
            <div class="row ">
                <div class="col-4 mb-3">
                    <label for="new-password">New Password</label>
                </div>
                <div class="col-8 mb-3">
                    <input type="text" class="form-control" placeholder="Enter New Password" [(ngModel)]="newPassword" name="new-password" id="new-password">
                </div>
                <div class="col-4 mb-3">
                    <label for="confirm-password">Confirm Password</label>
                </div>
                <div class="col-8 mb-3">
                    <input type="text" class="form-control" placeholder="Enter Confirm Password" [(ngModel)]="confirmPassword" name="confirm-password" id="confirm-password">
                </div>
                <div class="col-12 mb-3 text-center">
                    <button class="btn btn-secondary mr-3" (click)="back()">Back</button>
                    <button class="btn btn-primary" (click)="submit()">Submit</button>
                </div>
            </div>
        </form>
    </div>
    <div class="col-md-3 col-sm-12 mt-5 mb-4 ">

    </div>
</div>