
<div class="row mt-5">
    <div class="col-md-3 col-sm-12 mb-4 ">

    </div>
    <div class="col-md-6 col-sm-12 mt-5 box mb-4">
        <h2 class="mb-5 text-center">Terms and Conditions for LTI Home Loan</h2>
        <span>FEES AND CHARGES</span>
        <ul>
            <li>The fees and charges for Home Loan can be enquired by contacting to any of our branches</li>
            <li>LTI Home Loan will notify you of any changes in the terms and conditions of this product with prior notice of one month</li>
            <li>The applicant acknowledges the right of the Bank to provide details of his/her account to third party agencies for the
                purpose of availing of support services of any nature by the Bank</li>

        </ul>
        <span>INTEREST</span>
        
        <ul>
            <li>Applicant would be charged interest on the Loan amount in EMI (Equated Monthly Instalment) at the rate as set
                out in the agreement</li>
           
        </ul>
        <span>ACCOUNT RULES AND TERMS AND CONDITIONS</span>
        <ul>
            <li>The Bank reserves a right to block transactions/allow operations in a newly opened/existing accounts maintained with the
                Bank
                </li>
        </ul>

        <form>
            <button class="btn btn-primary float-right" (click)="clicked()">I Agree</button>        
        </form>
    </div>
    <div class="col-md-3 col-sm-12 mb-4 ">

    </div>
</div>