<div class="container margin-top-100">
    <div class="row">
        <div class="col-md-12 col-sm-12 mb-4">
            <h1 class="mb-5 text-left">Documents</h1>
            <div class="row">
                <div class="col-12">
                    <p class="mb-3">Doucments required for home loan are?</p>
                    <ul class="list-group ml-5">
                        <li class="list-item">PAN card</li>
                        <li class="list-item">Aadhar</li>
                        <li class="list-item">3 months pay slips</li>
                        <li class="list-item">Land papers</li>
                        <li class="list-item">House papers</li>
                        <li class="list-item">Others</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>