<div class="container margin-top-100">
    <div class="row">
        <div class="col-md-12 col-sm-12 mb-4">
            <h1 class="mb-5 text-left">Home Loan FAQs</h1>
            <div class="row">
                <div class="col-12">
                    <div class="form-group">
                        <details>
                           <summary>Am I eligible for a Home Loan?</summary>
                              <p class="text"> To be eligible for a Home loan, you should be above 24 years of age at the time of borrowing and 65 at the time of completion of the Home Loan. If you are a salaried individual, you should earn at least ₹30,000 per month and have a minimum of two years of experience. In case you are an entrepreneur, you should have three years of experience in your current field.</p>
                        </details>
                    </div>
                    <div class="form-group">
                        <details>
                            <summary>What are the benefits of Home Loan?</summary>
                                <p class="text">Some of the benefits of the Home Loan are:<br>
                                     <ul>
                                  <li> Flexible repayment solutions</li>
                                  <li> Lower home loan interest rate</li>
                                  <li> Tax benefits</li>
                                  <li> Door to door services.</li>
                                </ul>
                          </details>
                    </div>
                  <div class="form-group">
                        <details>
     <summary>What is the maximum amount available for a Home Loan?</summary>
     <p class="text">You can apply for Home Loan from ₹ 5 lakhs to ₹ 5 crores. The maximum amount is subject to 80% of the market value of your property.</p>
  </details>
                    </div>
                  <div class="form-group">
                             <details>
     <summary>What are my home loan repayment options?</summary>
     <p class="text">Our repayment mode includes: <br>

Post Dated Cheques (PDCs)<br>
Electronic Clearance Service (ECS) facility, where the Equated Monthly Instalments (EMI)) are periodically debited from your account with your consent.</p>
  </details>
                    </div>
                  <div class="form-group">
                        <details>
     <summary>How do I get my Home Loan statement?</summary>
     <p class="text">Home Loan statement of accounts and the Provisional interest certificate are available on the customer portal. Your customer log in details are provided in the welcome letter.</p>
  </details>
                    </div>

      <div class="form-group">
                        <details>
     <summary>For what purposes can I seek a first time home loan?</summary>
     <p class="text">You can generally seek a first time home loan for buying a house or a flat, renovation, extension and repairs to your existing house. Most banks have a separate policy for those who are going for a second house. Please remember to seek specific clarifications on the above-mentioned issues from your commercial bank.</p>
  </details>
                    </div>
      <div class="form-group">
                        <details>
     <summary>What is an EMI?</summary>
     <p class="text">You repay the loan in Equated Monthly Instalments (EMIs) comprising both principal and interest. Repayment by way of EMI starts from the month following the month in which you take full disbursement. </p>
  </details>
                    </div>

          <div class="form-group">
                        <details>
     <summary> Do you get a tax benefit on the loan?</summary>
     <p class="text">Yes. Resident Indians are eligible for certain tax benefits on both principal and interest components of a loan under the Income Tax Act, 1961. Under the current laws, you are entitled to an income tax rebate for interest repayment up to Rs. 1,50,000 /- per annum. Moreover, you can get added tax benefits under Section 80 C on repayment of principal amount up to Rs. 1,00,000 /- per annum.,</p>
  </details>
                    </div>

           <div class="form-group">
                        <details>
     <summary>How long does it take to get my Home Loan sanctioned?
</summary>
     <p class="text">Our turnaround time is quick. We have a dedicated team of Credit Managers to respond on time. Once we receive your file, we give you a confirmation by issuing a Sanction Letter. If you are a Salaried Employee, your loan will get sanctioned within 4-5 days. If you are Self-Employed, it may take us about 7-8 business days.</p>
  </details>
                    </div>
     
           <div class="form-group">
                        <details>
     <summary>Can I transfer the loan multiple times?
</summary>
     <p class="text">You can change your lender multiple times, in case it helps you reduce your loan burden. However, too much shifting is not advisable as it sends across a wrong impression. Also, kept in mind must be the fact that banks charge a free on loan transfers.</p>
  </details>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>