<div class="container margin-top-100">
    <div class="row">
        <div class="col-md-12 col-sm-12 mb-3">
            <h1 class="mb-5 text-center">Home Loan Features</h1>
            <div class="row">
                <div class="col-12">
                    <h2 class="mb-2">Types of Home Loans in India</h2>
                    <h5 class="mt-2">Home Loan</h5>
                    <p>This is the most common type of home loan availed to purchase a house. There are many housing finance companies, public banks, and private banks that offer housing loans where you borrow money to purchase the house of your choice and
                        repay the loan in monthly instalments.</p>
                    <p class="mb-4">You can get up to 80%-90% of the house’s market price in the form of financing. The lender will hold the house until you completely repay the loan.</p>
                    <h5>Home Construction Loan</h5>
                    <p class="mb-4">This is the right home loan type if you already have a plot of land and you need financing to construct a house in that land.</p>
                    <h5>Home Extension Loan</h5>
                    <p class="mb4">Say you already own a house and you would like to extend the house with another room or another floor to accommodate the growing family. Home extension loan provides financing for this purpose.</p>
                    <h5>Home Improvement Loan</h5>
                    <p>A home improvement loan provides financing for renovating or repairing the house if there’s any fault in the existing system, such as painting the house’s interior or exterior, plumbing, upgrading the electrical system, waterproofing
                        the ceiling, and more.</p>
                </div>
            </div>
        </div>
    </div>
</div>