<div class="row mt-5">
    <div class="col-md-3 col-sm-12 mt-5 mb-4 ">

    </div>
    <div class="col-md-6 col-sm-12 mt-5 box mb-4">
        <h1 class="mb-5 text-center">Forgot Password</h1>
        <form>
            <div class="row ">
                <div class="col-4 mb-3">
                    <label for="property-location">User ID</label>
                </div>
                <div class="col-8 mb-3">
                    <input type="text" class="form-control" placeholder="Enter your User ID" [(ngModel)]="userId" name="property-location" id="property-location">
                </div>
                <div class="col-12 mb-3 text-center">
                    <button class="btn btn-secondary mr-3" (click)="back()">Back</button>
                    <button class="btn btn-primary" (click)="submit()">Submit</button>
                </div>
            </div>
        </form>
    </div>
    <div class="col-md-3 col-sm-12 mt-5 mb-4 ">

    </div>
</div>