<div class="row mt-5">
    <div class="col-md-3 col-sm-12 mt-5 mb-4 ">

    </div>
    <div class="col-md-6 col-sm-12 mt-5 box mb-4  text-center">
        <h1 class="mb-5">Form Submitted Successfully</h1>
        <h6>Please Note down your Application No.</h6>
        <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample"
            aria-expanded="false" aria-controls="collapseExample"(click)="showApplicationNo()">
            Click to view your Application No.
        </button>

        <div class="collapse" id="collapseExample">
            <!-- <div class="card card-body">
                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil
                anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
            </div> -->

            <h3 class="mt-5 mb-5">Your Application No. is {{applicationNo}}</h3>
        </div>
    </div>
    <div class="col-md-3 col-sm-12 mt-5 mb-4 ">

    </div>
</div>