<div class="container margin-top-100">
  <div class="row mt-5">
      <div class="col-md-6 col-sm-12">
          <img src="assets/home_loan_2.jpg" class="home-loan-img" alt="home_loan_image">
      </div>
      <div class="col-md-6 col-sm-12">
          <div class="row margin-50">
              <div class="col-12">
                  <h3 class="text-center">Home Loan</h3>
                  <p class="mt-3">Buying a home is now easier than ever. LTI Home Loan offers you the best interest rates on housing finance and a wide selection of property, so you can live your best life. Apply for home loan online with us and avail our low EMI option and quick processing facility.
                                  Once you’ve applied, you can even track your loan status. What’s more? We have also expanded our criteria to make them more accessible. You also get the option to effortlessly transfer home loan if you have an existing one. So, come, live in your dream home with LTI Home Loan.</p>
                  
              </div>
              <div class="col-12 text-center">
                  <button class="btn btn-secondary" (click)="apply()">Apply Now</button>
              </div>
          </div>
      </div>

  </div>
</div>