<div class="box">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h1>Loan Tracker</h1>
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col-md-6">
            <form>
                <div class="form-group">
                    <label class="form-group">Application Number</label>
                    <input class="form-control" type="number" id="ApplicationNo" name=a1 [(ngModel)]="appNo">
                </div>
                <div class="form-group">
                    <label class="form-group">Phone Number</label>
                    <input class="form-control" type="text" id="PhoneNo" name=p1 [(ngModel)]="phoneNo">
                </div>
                <button type="button" class="btn btn-primary" (click)="Tracker(appNo,phoneNo);displayAccNo(appNo)">Submit</button>
            </form> 
            <br>
            <div
                *ngIf="applicationFound && (application.status == 'VERIFIED' || application.status == 'FORM SUBMITTED')">
                Status :
                {{application.status}} <br>
            </div>

            <div *ngIf="applicationFound && application.status == 'REJECTED'">
                Status :
                {{application.status}} <br>
                Comments :
                {{application.comments}}
            </div>
            <div *ngIf="applicationFound && application.status =='APPROVED'">
                <div *ngFor="let loan of loan">
                    <label class="form-group">Status</label>
                    <output class="form-control">{{application.status}} </output> <br>
                    <label class="form-group">Loan Account Number</label>
                    <output class="form-control"> {{loan.loanAccNo}} </output>
                </div>
            </div>
        </div>
    </div>
</div>